<a routerLink="">displayhelloworld
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="showhellobutton">showhellobutton
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="displayname">displayname
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="counter">counter
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="simpleform">simpleform
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="userage">userage
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="usergreeting">usergreeting
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="calculator">calculator
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="textlength">textlength
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="currencyconverter">currencyconverter
</a><br><br>
<a routerLink="evenoddchecker">evenoddchecker
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="wordreverser">wordreverser
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="showdate">showdate
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="showusername">showusername
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="multiplicationtable">multiplicationtable
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="simplelogin">simplelogin
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="fahrenheittocelsius">fahrenheittocelsius
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="bookmarklist">bookmarklist
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="charactercounter">charactercounter
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="palindromechecker">palindromechecker
</a><br><br>
<a routerLink="temperatureconverter">temperatureconverter
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="shoppinglist">shoppinglist
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="factorialcalculator">factorialcalculator
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="todomanager">todomanager
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="guessnumbergame">guessnumbergame
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="wordcounter">wordcounter
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="randomnumbergenerator">randomnumbergenerator
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="multiplicationchecker">multiplicationchecker
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="uppercaseconverter">uppercaseconverter
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="wordshuffler">wordshuffler
</a><br><br>
<a routerLink="bmisolver">bmisolver
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="validateusername">validateusername 
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="interestcalculator">interestcalculator
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="compoundinterestcalculator">compoundinterestcalculator
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="fibonaccigenerator">fibonaccigenerator
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="oddsumcalculator">oddsumcalculator
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="currencyformatter">currencyformatter
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="randomquotedisplay">randomquotedisplay
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="uppercasegreeting">uppercasegreeting
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="divisiblechecker">divisiblechecker
</a><br><br>
<a routerLink="shapeselector">shapeselector
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="colorselector">colorselector
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="PrimeNumberChecker">PrimeNumberChecker
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="VowelCounter">VowelCounter
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="LeapYearChecker">LeapYearChecker
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="PasswordStrengthChecker">PasswordStrengthChecker
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="AgeCalculator">AgeCalculator
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="ArrayReverser">ArrayReverser
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="AnagramChecker">AnagramChecker
</a>&nbsp;&nbsp;&nbsp;
<a routerLink="SimpleStopwatch">SimpleStopwatch
</a><br><br><br>

<router-outlet></router-outlet> 